.container {
  margin-left: 90px;
  max-width: 900px;
  min-height: 500px;
  border: solid 1px #E5E6E6;
  box-shadow: 2px 2px 4px gray;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  background: #FAEEE7;
  color: #594a4e;
}

.notFoundTitle {
  font-size: 3em;
  text-align: center;
}

img {
  max-width: 100%;
}

.linkText {
  font-size: 2em;
  text-align: center;
}