.articlecontainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

/*
.flex {
  display: flex;
  flex-wrap: wrap;
}
*/

.articlelist {
  width: 250px;
  height: 250px;
  background-color: pink;
  margin: 5px;
  text-align: center;
}